{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Your Cart</h1>
            <ul class="list-group">
                {% for product in cart_list %}
                <li class="list-group-item">
                    {{ product.product.name }} ({{ product.quantity }}) - ${{ product.product.price }}
                    <a href="{% url 'delete_cart' product.id %}">Remove</a>
                </li>
                {% empty %}
                <li class="list-group-item">Your cart is empty.</li>
                {% endfor %}
            </ul>
            <a>{{total}}</a><br>
            <a href="{% url 'checkout' %}" class="btn btn-primary">Proceed to Checkout</a>
        </div>
    </div>
</div>
{% endblock %}