{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Category Sales Report</h1>
    <table id="categoryTable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Category description</th>
                <th>Total Sales</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>${{ category.profit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
        $('#categoryTable').DataTable({
            'columnDefs': [
                { 'orderable': false, 'targets': [1] } // Disable sorting on the first and third columns
            ]
        });
    });
</script>
{% endblock %}
