{% extends "base.html" %}
{% load static %}

{% block title %}INFSCI2710 - eCommerce Platform{% endblock %}

{% block load_css %}
<link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}

{% block load_js %}
<script src="{% static "js/index.js" %}"></script>
<script src="https://d3js.org/d3.v6.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mb-4">Home</h1>
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'login' %}">Login</a></li>
                <li class="list-group-item"><a href="{% url 'logout' %}">Logout</a></li>
                <li class="list-group-item"><a href="{% url 'product_list' %}">Product List</a></li>
                <li class="list-group-item"><a href="{% url 'cart' %}">Cart</a></li>
                <li class="list-group-item"><a href="{% url 'checkout' %}">Checkout</a></li>
                <li class="list-group-item"><a href="{% url 'transaction_history' %}">Transaction History</a></li>
                <li class="list-group-item"><a href="{% url 'payment' %}">Payment</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}