{% extends "base.html" %}
{% block title %}product page{% endblock %}
{{ product }}
{% block content %}
<h2> {{product.name}}</h2>

    <img src= "product_images\"+{{product.image}} >
    <body>
    <p>{{product.description}}</p>
    <p>price of {{product.price}}</p>
    {% if product.stock == 0 %}
        <p>Sold Out</p>
    {% else %}
        <p>in stock {{product.stock}}</p>
    {% endif %}
    </body>
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ form }}
        {{form.field.quantity}}
        
        <button type="submit">add to cart</button>
        </form>
    {% endif %}
{% endblock%}