{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <table id="productsTable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Address</th>
                <th>Manager</th>
                <th>Profit</th>
            </tr>
        </thead>
        <tbody>
            {% for store in stores_list %}
            <tr>
                <td>
                    <a href="{% url 'store_page' store.id %}">{{ store.address }}</a>
                </td>
                <td>
                    {{ store.manager.name }}
                </td>
                <td>
                    {{ store.profit }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        $('#productsTable').DataTable({
            'columnDefs': [
                { 'orderable': false, 'targets': [0, 2] } // Disable sorting on the first and third columns
            ]
        });
    });
</script>
{% endblock %}
