{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <table id="productsTable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Order number</th>
                {%if request.user.is_staff %}
                    <th>customer</th>
                    <th>customer id</th>
                {%endif%}
                <th>Date</th>
                <th>Item name</th>
                <th>seller</th>
                <th>Cost</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>
                    {{transaction.transaction.id}}
                </td>
                {%if request.user.is_staff %}
                <td>
                    <a href="{% url 'transaction_history_customer' transaction.transaction.customer.pk %}">{{transaction.transaction.customer.username}}</a>
                    
                </td>
                <td>
                    {{transaction.transaction.customer.pk}}
                </td>
                {%endif%}
                <td>
                    {{transaction.transaction.date_ordered}}
                </td>
                <td>
                    {%if transaction.product_gone %}
                    {{transaction.product_name}}
                    {%else%}
                    <a href="{% url 'product_page' transaction.product.pk%}">{{transaction.product_name}}</a>
                    {%endif%}
                </td>
                <td>
                {%if transaction.product_gone %}
                    N/A 
                {%else%}
                {{transaction.product.store.name}}
                {%endif%}
                </td>
                <td>
                    ${{transaction.price}}
                </td>
                <td>
                    {{transaction.transaction.status}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
